<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Libros</h1>

    <form action="/agregar_libro" method="post">

        <label for="titulo">Titulo</label>
        <input type="text" id="titulo" name="titulo" required>
        <label for="autor">Autor</label>
        <input type="text" id="autor" name="autor" required>
        <button type="submit">Agregar Libro</button>
    </form>

    <ul>
        {%for libro in libros%}
        <li>
            {{libro.id}} -  {{libro.titulo}} - {{libro.autor}}
        </li>
        {%endfor%}
    </ul>
</body>
</html>