<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Tareas</title>
</head>

<body>
    <h1>Listado de Tareas</h1>

    <ul>
        {% for tarea in tareas %}
        <li>{{tarea}}</li>
        {% endfor %}
    </ul>
    <form action="/agregar" method="post">
        <label for="nueva_tarea">Nueva tarea</label>
        <input type="text" id="nueva_tarea" name="nueva_tarea" required>
        <button type="submit">Agregar</button>

    </form>
</body>

</html>